/* Font (work sans) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
* {
    font-family: "Work Sans", sans-serif;
    margin-top: 0;
}

.desc {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.section-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

/* Header styles */

header {
    background: rgba(196, 112, 15, 0.1);
    padding: 50px 230px;
    margin-bottom: 90px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
}

nav>ul li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner styles */
.banner-content {
    max-width: 860px;
    text-align: center;
    margin: 100px auto 50px auto;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-desc {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 24px;
    border: 0;
    border-radius: 8px;
    background: #FF900E;
}

.banner img {
    margin-top: 50px;
    width: 100%;
}



/* main styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams style */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {

    font-size: 2.8rem;
}

.span-1 {
    font-weight: 500;
    color: #727272;
}

.span-2 {
    color: #131313;
    font-weight: 700;
}

.span-3 {
    color: #FF900E;
    font-weight: 700;
}

/* features style */

.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.features .section-title {
    padding-left: 20px;
    border-left: 4px solid #FF900E;
}

.features .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}

.features-img {
    height: 100%;
}

.badge {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    width: 250px;
    padding: 45px;
    position: relative;
    bottom: 120px;
    right: 60px;

}

.badge h1 {
    margin: 0;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 70px;
}

.badge p {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

/* Facts styles */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsors styles */
.sponsors {
    text-align: center;
    margin-bottom: 130px;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
}

/* footer styles */

footer {
    margin: 0 240px;
}

.footer-div {
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px 0;
}

.footer-div p {
    color: var(--Dark-02, #424242);
    font-size: 20px;
    font-weight: 400;
}


/* responsive styles */
/* mobile device */

@media screen and (max-width: 576px) {

    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding: 0 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .features-img img {
        width: 100%;
    }
    footer{
        margin: 0;
    }
    .footer-div {
        margin: 0 auto;
    }
    
}

/* medium devices */

@media screen and (min-width:576px) and (max-width: 960px) {

    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    .features-img img {
        width: 100%;
    }
    footer{
        margin: 0;
    }
    .footer-div {
        margin: 0 auto;
    }
    
}